* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#calculator {
  margin: auto;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #ffffff;
}

#display {
  width: 100%;
  height: 80px;
  font-size: 36px;
  text-align: right;
  padding-right: 20px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.row:nth-child(1) {
  background-color: #d9d9d9;
}

.row:nth-child(2),
.row:nth-child(3),
.row:nth-child(4) {
  background-color: #e6e6e6;
}

.row:nth-child(5) {
  background-color: #d9d9d9;
  height: 80px;
}